.bodyContainer {
    width: 100%;
    min-height: 100vh;
    display: flexbox;
    flex-direction: column;

}

.userPhoto {
    width: 250px;
    height: 250px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.userInfo {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-inline: 20px;
}