.Bcard {
    height: auto;
    margin: 10px;
    
    background-color: #cce3de;
}

.flexboxContainer{
    display: flex;
    justify-content: space-between;   
}
.Bcard:hover {
    background-color: #a4c3b2;
}

.Button {
    background-color: #84a59d;
    border-color: #faedcd;
}

.Button:hover {
    color: #598392;
    background-color: #dedbd2;
}
.CardPhoto{
    width: 100%;
    max-width: 200px;
    height: auto;
}