.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	border: 1px red;
	border-style: solid;
	background-color: white;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}