.main {
	width: 100%;
	height: 100%;

}
.hero{
	position: relative;
	width: 100%;
	height: 100%;
}
.section{
	padding-bottom: 10px;
}
.background{
	width: 100%;
	height: 100%;
}
.srcImg{
	width: 100%;
	filter: brightness(40%);
}

.content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

}
.text{
	color: white;

}
.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	letter-spacing: 0.2rem;
}
.info{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 1.2rem;
}
.searchContainer{
	display: flex;
	margin-bottom: 3px;
}
.searchBar{
	width: 120%;
}
.optionBar{
	width: 50%;
}
.shopsContainer{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgb(194, 194, 194);
}
.sectionName{
	font-family: 'Montserrat', sans-serif;
}
.titleContainer{
	width: 100%;
	height: 100%;
	text-align: center;

}
@media screen and (min-width: 280px) and (max-width: 980px) {
	.background{
		height: 50vh;
	}
	.srcImg{
		height: 100%;
	}
	.title{
		font-size: 2rem;
	}
	
}
