.h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
    
}

.h2 strong {
    flex-grow: 1;
}

.cardContainer { 
    width: 50%;
    margin: 0 auto;
}


.Button {
    background-color: #84a59d;
    border-color: #faedcd;
}

.Button:hover {
    color: #598392;
    background-color: #dedbd2;
}