.container {
	width: 100%;
	min-height: 100vh;
  bottom: 0;
}

.imageContainer{
	justify-content: center;
	align-items: center;
}

.sectionTitle{
	display: flex;
	margin-right: 0;
	margin-left: auto;
}

.offCanvas{
	background-color: #dee2e7;
}

.menuContainer{
	display: flex;
	flex-direction: column;
}

.menuBtn{
	margin-bottom: 16px;
}

.title{
  text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	letter-spacing: 0.2rem;
	text-shadow: 2px 2px #242323;
  background: rgba(190, 192, 190, 0.5);
}
.imageGrid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 200px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.floatingBtnContainer{

  position:fixed;
  bottom: 20px;
  right: 120px;
  cursor:pointer;

}
.manageBtn{
  position: absolute;
  left: 0;
  bottom: 0;
}

.imageGrid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageGridCol {
  grid-column: span 2;
}

.imageGridRow {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .imageGrid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
